/**
 * @Author: Josh Erb <josh.erb>
 * @Date:   22-Jun-2017 16:06
 * @Email:  josherb4@gmail.com
 * @Filename: main.css
 * @Last modified by:   josh.erb
 * @Last modified time: 22-Nov-2017 15:11
 */


body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 4rem;
	background-color: White;
}

h2 {
	font-size: 3rem;
}

/* Nav Bar Style Controls */

nav {
	background-color: #FFFF;
}

nav ul {
	display: inline;
}

nav li {
	display: inline;
	padding: 3rem;
}

nav a {
	height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.nav-btn a {
  margin-right: 30px;
  padding: 8px 18px;
}

.nav-btn a:active {
  position: relative;
  bottom: 2px;
}

/* Icon Style */
.nav-icon {
	display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}


.hero {
	background-color: rgba(217, 217, 26, 0.1);
	background-position: center top;
	background-image: url('../img/graph-paper.svg');
	opacity:0.40;
	padding: 40rem 0;
	margin: 2rem;
	font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
	border-radius: 5rem;
}

p {
	font-size: 2rem;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
