---
layout: rss.njk
section: words
permalink: /feed.xml
---
{% set postslist = collections.posts %}
{% for post in postslist | reverse %}
<item>
  <title>{{ post.data.title }}</title>
  <link>https://cyberb.space{{ post.url | url }}</link>
  <guid>https://cyberb.space{{ post.url | url }}</guid>
  <pubDate>{{ post.date | rssDate }}</pubDate>
  <author>
   <name>{{ metadata.author.name }}</name>
   <uri>https://cyberb.space</uri>
  </author>
  <summary>{{ post.data.summary }}</summary>
  <content type="html">{{ post.content }}</content>
</item>
{% endfor %}
