---
title: "P:X→{true, false}"
pagination:
  data: collections
  size: 1
  alias: tag
  title: {{ tag }}
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: base.njk
---
{% set postslist = collections[ tag ] %}
<h4>{{ postslist | length }} posts tagged <span class="highlight">#{{ tag }}</span></h4>


{% include "postslist.njk" %}


<p>
  <nav>
    <a href="{{ '/words/' | url }}" class="button"><< words.</a>
  </nav>
</p>
