---
title: filtered notes.
pagination:
  data: collections
  size: 1
  alias: tag
  title: {{ tag }}
  filter:
    - all
    - nav
    - post
    - posts
    - job
    - jobs
    - school
permalink: /tags/{{ tag }}/
layout: base.njk
---

{% include "tagfilter.njk" %}
{% set postslist = collections[ tag ] %}
<br />
<h4>{{ postslist | length }} posts tagged <span class="highlight">#{{ tag }}</span></h4>


{% include "postslist.njk" %}

<a href="{{ '/notes/' | url }}" class="button"><< all notes.</a>

