---
title: filtered notes.
pagination:
  data: collections
  size: 1
  alias: tag
  title: {{ tag }}
  filter:
    - all
    - nav
    - post
    - posts
    - job
    - jobs
    - school
permalink: /tags/{{ tag }}/
layout: base.njk
---

{% include "tagfilter.njk" %}
{% set postslist = collections[ tag ] %}

<br /><br />

There are <strong>{{ postslist | length }}</strong> posts with the tag <span class="highlight">#{{ tag }}</span> <a title="clear tag filter" href="/notes/" style="background:#fff;">🆇</a>


{% include "postslist.njk" %}

<a class="button" href="{{ '/notes/' | url }}"><< all notes.</a>
