/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*
* Note: stylesheet hacked away at for @riastrad's purposes
/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styling
- Typography
- Links
- Buttons
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 65%;
    }
}

/* Base Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: Menlo, "Courier New", Courier, monospace;
    background-color: #ffffff;
    color: #222;
}

.highlight {
    background-color: rgba(238, 238, 51, 0.6);
}

nav {
    padding-top: 1em;
    text-align: center;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    justify-content: space-around;
    background-color: #ffffff;
}

a.button {
    display: inline-block;
    height: 3rem;
    padding: 0 1.5rem;
    margin-top: 0.5em;
    color: #000;
    background-color: rgba(238, 238, 51, 0.6);
    align-content: center;
    letter-spacing: 0.3rem;
    cursor: pointer;
}

a.button-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    pointer-events: none;
}

a.button-primary:hover {
    box-shadow: inset 0 0 0 #000;
    cursor: default;
}

blockquote {
    border: 2px dashed #000;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: -0.5em 0.5em rgba(238, 238, 51, 0.6);
}

@media (max-width: 550px) {
    nav {
        text-align: left;
        margin-right: 1.5em;
    }

    nav a.button:after {
        content: "";
    }

    nav a.button {
        display: block;
        width: 30%;
    }

    nav a.button-primary {
        width: auto;
    }

    blockquote {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

footer {
    margin-top: 1em;
    font-size: 0.75em;
    text-align: center;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -0.1rem;
}
h3 {
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -0.1rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -0.08rem;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -0.05rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.4rem;
    }
    h5 {
        font-size: 2rem;
    }
    h6 {
        font-size: 2rem;
    }
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    position: relative;
    text-decoration: none;
    color: #000;
    background-color: rgba(238, 238, 51, 0.6);
}

a.post-title {
    background-color: #fff;
    font-size: 2.4rem;
    text-transform: uppercase;
}

@media (max-width: 550px) {
    a.post-title:after {
        display: block;
        content: "";
    }

    a.post-title {
        display: block;
    }

    p time:before {
        display: inline;
        content: "🗓";
    }
}

/* Popover Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button {
    border: none;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    background-color: rgba(238, 238, 51, 0.6);
}

:popover-open {
    background: white;
    outline: #000 solid 0.1em;
    padding: 1.5em;
    max-width: 80vw;
}

::backdrop {
    backdrop-filter: blur(2px);
}

/* setting some variables to make this easier */
:root {
    --progress-bar-color: #000;
    --progress-bar-background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.77) 0%,
        rgba(128, 128, 128, 0.51) 16%,
        rgba(255, 255, 255, 1) 100%
    );
}

/* IE10 */
progress {
    color: var(--progress-bar-color);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Firefox */
progress::-moz-progress-bar {
    background: var(--progress-bar-color);
}

/* Chrome */
progress::--webkit-progress-value {
    background: var(--progress-bar-color);
}

/* incomplete part of the bar */
progress::-webkit-progress-bar {
    background: var(--progress-bar-background);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a.download-button {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
a.download-button:hover {
    box-shadow: 0.5em 0.5em rgba(238, 238, 51, 0.6);
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: "✱ ";
}
ol {
    list-style: decimal;
}
ol,
ul {
    padding-top: 0;
    margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0.5rem 0 0.5rem 0rem;
}

details ul {
    list-style: "✔ ";
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    font-size: 80%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    border: none;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 550px) {
    table {
        table-layout: fixed;
        width: 100%;
    }

    td,
    th {
        font-size: 90%;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

th,
td {
    padding: 0.5em 1em;
    border: 2px solid #000;
}

td:has(a) {
    background: rgba(238, 238, 51, 0.6);
}

td > a {
    background: none;
}

th {
    text-transform: uppercase;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

pre,
blockquote,
table,
p {
    margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
details {
    position: relative;
    transition: 0.15s background linear;
    display: inline-block;
}

summary:hover {
    cursor: pointer;
    background: rgba(238, 238, 51, 0.6);
}

summary {
    padding-right: 10px;
}

summary:before {
    content: "✱";
    margin: 1rem;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: none;
    border-top: 2px solid #000;
    color: #000;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr::after {
    background: #fff;
    content: "✱";
    position: relative;
    padding: 0 5px;
    top: -13px;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}
