div.shelf {
    display: flex;
    flex-wrap: wrap;
    border: 1px dashed gray;
}

div.shelvedbook {
    font-family: Helvetica, sans-serif;
    border: 2px solid #000;
    height: 10em;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.25em;
    line-clamp: 2;
    writing-mode: vertical-rl;
    vertical-align: middle;
    transition-property: transform;
    transition-duration: 0.75s;
}

div.shelvedbook:hover,
div.shelvedbook:focus {
    background: rgba(238, 238, 51);
    transform: translateX(-5%) translateY(-5%) rotatez(10deg);
}

div.shelvedbook a {
    background: none;
}

div.shelvedbook:hover a,
div.shelvedbook:focus a {
    background: rgba(238, 238, 51, 0.6);
}

div.shelvedbook + ul.booktooltip {
    list-style-type: none;
    z-index: 998;
    margin: 0px auto; /* next 3 lines center the div */
    left: 0;
    right: 0;
    background: white;
    outline: #000 solid 0.1em;
    padding: 0.5em;
    box-shadow: 0.5em 0.5em rgba(238, 238, 51, 0.6);
    position: fixed;
    bottom: 2em;
    max-width: 60%;
    display: none;
}

div.shelvedbook:hover + ul.booktooltip,
div.shelvedbook:focus + ul.booktooltip,
div.shelvedbook:active + ul.booktooltip {
    display: block;
    visibility: visible;
}
