/**
* Bookshelf Styling
**/
div.shelf {
    display: flex;
    flex-wrap: wrap;
}

div.shelvedbook {
    color: #fff;
    background: #000;
    border: 2px solid #000;
    height: 16rem;
    width: 14ch;
    text-wrap: balance;
    hyphens: auto;
    line-height: 1.4em;
    font-size: 1.25rem;
    padding: 0.5em;
    margin: 0.25em;
    transition-property: transform;
    transition-duration: 0.75s;
}

div.shelvedbook:hover,
div.shelvedbook:focus {
    box-shadow: 0 0 0.5rem 1rem rgba(238, 238, 51);
    transform: translateY(-5%);
}

div.shelvedbook a {
    background: none;
    color: #fff;
}

div.shelvedbook:hover a,
div.shelvedbook:focus a {
    background: none;
}

/**
* Book review stuff
**/
.review-container {
    margin-bottom: 2rem;
}

.review-image {
    display: block;
    max-width: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
    border: 2px solid black;
    transition: box-shadow 0.3s linear;
}

.review-image:focus,
.review-image:hover {
    box-shadow: 0px 0px 0px 1rem rgba(238, 238, 51);
}

@media (max-width: 850px) {
    .review-container {
        margin-bottom: 0;
    }
}

/**
* Timeline styling
**/
ul.timeline {
    list-style-type: none;
    padding-left: 2rem;
    margin-bottom: 0;
}

ul.timeline li {
    position: relative;
    margin: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

ul.timeline li:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23000' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    position: absolute;
    left: 0px;
    top: 2px;
    width: 16px;
    height: 16px;
}

ul.timeline li:before {
    background-color: #000;
    width: 2px;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 7px;
}

ul.timeline li:first-child:before {
    top: 12px;
}

ul.timeline li:last-child:before {
    height: 6px;
}
