div.shelf {
    display: flex;
    flex-wrap: wrap;
}

div.shelvedbook {
    color: #fff;
    background: #000;
    border: 2px solid #000;
    height: 16rem;
    width: 9rem;
    text-wrap: balance;
    text-overflow: ellipsis;
    line-height: 1.4em;
    font-size: 1.25rem;
    padding: 0.5em;
    margin: 0.25em;
    transition-property: transform;
    transition-duration: 0.75s;
}

div.shelvedbook:hover,
div.shelvedbook:focus {
    box-shadow: 0 0 0.5em 0.5em rgba(238, 238, 51);
    transform: translateX(-5%) translateY(-5%);
}

div.shelvedbook a {
    background: none;
    color: #fff;
}

div.shelvedbook:hover a,
div.shelvedbook:focus a {
    background: none;
}
