.container {
	max-width: 800px;
}

.highlight {
	background-color: #ee3;
}

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar a.button {
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.welcome-text {
	padding-top: 0.5em;
	text-align: center;
}

div .center-text {
	text-align: center;
}

div .content {
	text-align: justify;
	padding-top: 0.5em;
}

div p.less-margin {
	margin-bottom: 0.25em;
}

div p.righty {
	text-align: right;
}

ul .clean {
	list-style-position: outside;
	margin-left: 1.5em;
}

#central-logo {
	background-image: url("../img/personal-logo.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height: 50.0vh;
}

#central-logo:hover {
	background-image: url("../img/personal-logo-hover.svg");
}

#code-icon {
	background-image: url("../img/book.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 50px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#code-icon:hover {
	width: 105px;
	height: 52.5px;
	background-image: url("/img/book-open.svg");
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#oops {
	background-image: url("/img/oops.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height: 30.0vh;
	margin-bottom: 1.0em;
}

footer {
	font-size: .75em;
	text-align: center;
}
