.container {
	margin-top: 2em;
}

.highlight {
	background-color: #ee3;
}

.blog-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.0em;
	border-radius: 15px;
}

.blog-title {
	text-align: left;
}

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar a.button {
	margin: 0.5em;
}

.welcome-text {
	padding-top: 0.5em;
	text-align: center;
}

/* Stole this next bit from here: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h1 {
	overflow: hidden;
	border-right: .10em solid #000;
	white-space: nowrap;
	margin: 1em auto;
	letter-spacing: .10em;
	animation:
		typing 3.5s steps(40, end),
		blink-caret .75s step-end infinite
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #000 }
}
/* End of stolen css bits */

.footnote-text {
	display: none;
	border: 2px dashed #000;
	border-radius: 4px;
	margin: 1em;
	padding: 1.5em;
	font-size: small;
	box-shadow: inset 0 0 .75em #ee3;
}

.footnote:focus + .footnote-text {
	display: block;
}

div .center-text {
	text-align: center;
}

div .content {
	text-align: justify;
	padding-top: 0.5em;
}

div p.less-margin {
	margin-bottom: 0.25em;
}

div p.righty {
	text-align: right;
}

ul .clean {
	list-style-position: outside;
	margin-left: 1.5em;
}

span > img {
	max-width: 20%;
	margin: .5em;
}

footer {
	font-size: .75em;
	text-align: center;
}
