.container {
    margin-top: 2em;
}

div .center-text {
    text-align: center;
}

ins {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1.5px;
}
