blockquote {
    border: 2px dashed #000;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: -0.5em 0.5em rgba(238, 238, 51, 0.6);
}

/* h/t to this so post: https://stackoverflow.com/a/37485692/6282077 */
div.dithered-hover img.blog-pic:last-child {
    display: none;
}
div.dithered-hover:hover img.blog-pic:last-child,
div.dithered-hover:focus img.blog-pic:last-child {
    display: block;
}
div.dithered-hover:hover img.blog-pic:first-child,
div.dithered-hover:focus img.blog-pic:first-child {
    display: none;
}

.blog-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-height: 500px;
    width: auto;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

.footnote-item {
    list-style-type: none;
    z-index: 998;
    margin: 0px auto; /* next 3 lines center the div */
    left: 0;
    right: 0;
    background: white;
    outline: #000 solid 0.1em;
    padding: 0.5em;
    box-shadow: 0.5em 0.5em rgba(238, 238, 51, 0.6);
    position: fixed;
    bottom: 2em;
    max-width: 80vw;
    visibility: hidden;
}

audio {
    width: 35%;
}

svg {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
}

/* For devices larger than 700px */
@media (min-width: 700px) {
    .footnote-item {
        width: 60vw;
    }
}

/* For devices larger than a phablet */
@media (min-width: 550px) {
    svg {
        width: 75%;
    }
}

/* For devices smaller than a phablet */
@media (max-width: 550px) {
    svg {
        width: 100%;
    }

    blockquote {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
