blockquote {
	border-left: 5px solid #ee3;
	padding-left: 15px;
}

.blog-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.0em;
	border-radius: 15px;
}

.footnote-text:target {
	outline: #000 dashed .1em;
	outline-offset: .2em;
	box-shadow: 0 0 1em #ee3;
}

a[rel=footnote] {
	font-weight: bold; 
	background-color: transparent;
}

a[rel=footnote]:target {
	padding-top: 8.5em;
}

a[rel=footnote]:target:after {
	content: "<<<";
	background: #ee3;
	margin-left: 0.5em;
}

a[rel=footnote-jumpback] {
	background-color: transparent;
	writing-mode: sideways-lr;
}