<!DOCTYPE html>
<html lang="en">

	{% include "head.njk" %}

	<body>

    <nav>
			{% include "navbar.njk" %}
		</nav>

		<div class="container">
			{{ content | safe }}
		</div>

		{% include "footer.njk" %}

	</body>
</html>
