<!DOCTYPE html>
<html lang="en">

	{% include "head.njk" %}

	<body>

		{% include "navbar.njk" %}
		<div class="container">
			{{ content | safe }}

			{% include "footer.njk" %}

		</div>
	</body>
</html>
