<details>
    <summary>subscribe to book reviews</summary>
    If you're interested in getting notified when I write an informal review for one of these, you can subscribe to this dedicated <a href="/shelf/feed.xml">RSS feed</a>.
</details>
