<h2>booklog: {{book.title}}</h2>

<div class="review-container">
<p>In {{ book.finished | bookDateYear }} I read <a href="{{ book.link }}">{{ book.title }}</a> by {{ book.author }}.</p>
{% if book.situ %}
<img alt="image of {{ book.title }} in-situ" src="{{ book.situ }}" class="review-image" />
{% endif %}
<div class="review-text">
<h4>Timeline</h4>
{% if book.started %}
<ul class="timeline">
 <li><strong>{{ book.started | readableBookDate }}:</strong> started reading.</li>
 <li><strong>{{ book.finished | readableBookDate}}:</strong> finished reading.</li>
</ul>
{% else %}
<ul class="timeline">
 <li>...started reading at some point.</li>
 <li><strong>{{ book.finished | readableBookDate}}:</strong> finished reading.</li>
</ul>
{% endif %}

{% if book.review %}
<h4>Review</h4>
{{ book.review | safe }}
{% endif %}
</div>
</div>

{% if book.publisher and book.pages and book.isbn %}
<h4>Details</h4>
<ul>
    <li><strong>Publisher:</strong> {{ book.publisher }}</li>
    <li><strong>Page Count:</strong> {{ book.pages }}</li>
    <li><strong>ISBN:</strong> {{ book.isbn }}</li>
</ul>
{% endif %}
<hr />
