<h2>booklog: {{book.title}}</h2>

<!-- book pic goes here --!>
<div class="review-container">
{% if book.situ %}
    <img alt="image of {{ book.title }} in-situ" src="{{ book.situ }}" class="review-image" />
{% endif %}

{% if book.started %}
<div class="review-text">
<h4>Timeline</h4>
I started reading <a href="{{ book.link }}">{{ book.title }}</a> on  {{ book.started | readableBookDate }} and finished reading on {{ book.finished | readableBookDate }}.

<br /><br />
{% else %}
<div class="review-text">
<h4>Timeline</h4>
I finished reading <a href="{{ book.link }}">{{ book.title }}</a> by {{ book.author }} on {{ book.finished | readableBookDate }}.

<br /><br />
{% endif %}

{% if book.review %}
<h4>Review</h4>
{{ book.review | safe }}
<br /><br />
{% endif %}
</div>
</div>

{% if book.publisher and book.pages and book.isbn %}
<h4>Details</h4>
<ul>
    <li><strong>Publisher:</strong> {{ book.publisher }}</li>
    <li><strong>Page Count:</strong> {{ book.pages }}</li>
    <li><strong>ISBN:</strong> {{ book.isbn }}</li>
</ul>
{% endif %}
<hr />
