<footer>
  <a href="https://github.com/riastrad"><img src="https://raw.githubusercontent.com/webdog/octicons-png/master/black/octoface.png" alt="@riastrad" height=20px></a>
  <p>
    &copy; Josh Erb 2018
  </p>
  <p>
    <small>
      <a href="https://github.com/riastrad/cyberbspace/tree/master/{{ page.inputPath }}">view this page on Github</a>
    </small>
  </p>
</footer>
