<footer>
  <p>
    <div>
      <a href="https://github.com/riastrad"><img src="https://raw.githubusercontent.com/webdog/octicons-png/master/black/octoface.png" alt="@riastrad" height=20px></a>
    </div>
    <small>
      <a href="https://github.com/riastrad/cyberbspace/tree/master/{{ page.inputPath }}">view this page on Github</a>
    </small>
    <div>
      <p>
        &copy; Josh Erb {{ page.date | dateYear }}
      </p>
    </div>
  </p>
</footer>
