<footer>
      <a href="https://github.com/riastrad/cyberbspace/tree/master/{{ page.inputPath }}">view this page on GitHub</a>
      <p>
        &copy; Josh Erb {{ page.date | dateYear }}
      </p>
</footer>
