<head>
  <meta charset="utf-8"/>
  <title>{{ title or metadata.title }}</title>

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.png">

  <!-- All about that social content -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://cyberb.space{{ page.url }}" />
  {% if summary %}<meta property="og:description" content="{{ summary }}" />{% endif %}
  <meta property="og:image" content="https://cyberb.space/img/{% if summary %}post{% else %}site{% endif %}-preview-card.jpg" />

  <!-- Style -->
  {% set css %}
    {% include "assets/css/normalize.css" %}
    {% include "assets/css/base.css" %}
    {% if title === "space." %}
      {% include "assets/css/landing.css" %}
    {% endif %}
    {% if date %}
      {% include "assets/css/post.css" %}
    {% endif %}
    {% include "assets/css/custom-stuff.css" %}
  {% endset %}

  <style>{{ css | cssmin | safe }}</style>

</head>
