<head>
  <meta charset="utf-8"/>
  {% if book.title %}
    {% set reviewtitle = ["Booklog: ", book.title] | join %}
  {% endif %}
  <title>{{ title or reviewtitle or metadata.title }}</title>

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.png">

  <!-- All about that social content -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content="{{ title or reviewtitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://cyberb.space{{ page.url }}" />
  {% if summary %}<meta property="og:description" content="{{ summary }}" />{% endif %}
  <meta property="og:image" content="https://cyberb.space/img/{% if summary %}post{% else %}site{% endif %}-preview-card.jpg" />
  <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="notes rss">
  <link rel="alternate" type="application/rss+xml" href="/shelf/feed.xml" title="book reviews rss">

  <!-- Style -->
  {% set css %}
    {% include "assets/css/normalize.css" %}
    {% include "assets/css/base.css" %}
    {% if title === "shelf." or reviewtitle %}
        {% include "assets/css/books.css" %}
    {% endif %}
    {% if date %}
      {% include "assets/css/prism.css" %}
      {% include "assets/css/post.css" %}
    {% endif %}
	{% if (title === "filtered notes.") or (title === "notes.") %}
	  {% include "assets/css/tags.css" %}
	{% endif %}
  {% endset %}

  <style>{{ css | cssmin | safe }}</style>

</head>
