<nav class="navbar">
  {%- for nav in collections.nav | reverse %}
      <button class="button {% if nav.url == page.url %}button-primary{% endif %}">

        {% if nav.url != page.url %}
        <a href="{{ nav.url | url }}">
        {% endif %}

        {{ nav.data.navtitle }}

        {% if nav.url != page.url %}
        </a>
        {% endif %}

      </button>
  {%- endfor -%}
</nav>
