<nav class="navbar">
  <form>
  {%- for nav in collections.nav | reverse %}
        <button 
          {% if nav.url == page.url %}
          class="button-primary"
          disabled=true
          {% endif %}
          {% if nav.url != page.url %}formaction="{{ nav.url | url }}"{% endif %}
          >
        {{ nav.data.navtitle }}
        </button>
  {%- endfor -%}
  </form>
</nav>
