---
layout: base.njk
section: post
---

<h1 class="blog-title">{{ title }}</h1>
<p>
  <small>
    <b>{{ page.date | readableDate }}</b> by {{ metadata.author.name }};
    <span class="highlight">{{ content | striptags | wordcount }} words.</span>
  </small>
</p>
<p>

</p>

{{ content | safe }}

<script type="text/javascript" src="/scripts/footnotes.js"></script>

{% if tags %}
<p>
{
{% for tag in tags %}
  {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
    {%- endif -%}
  {% endfor %}
}
</p>
{% endif %}

  <a href="{{ '/notes/' | url }}" class="button"><< all notes.</a>
</div> 
