---
layout: base.njk
section: post
---

<h1 class="blog-title">{{ title }}</h1>
<p>
  <small>
    <b>{{ page.date | readableDate }}</b> by {{ metadata.author.name }};
    <span class="highlight">{{ content | striptags | wordcount }} words.</span>
  </small>
</p>
<p>

</p>

{{ content | safe }}

{% if tags %}
<p>
{
{% for tag in tags %}
  {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
    {%- endif -%}
  {% endfor %}
}
</p>
{% endif %}

</div>

<nav>
  <a href="{{ '/words/' | url }}" class="button"><< words.</a>
</nav>
