{% for post in postslist | reverse %}
	<div>
		<a href="{{ post.url | url }}">
		{% if post.data.title %}
			{{ post.data.title }}
		{% else %}
			Untitled
		{% endif %}
		</a>
	</div>

	{% if post.data.summary %}
		<small><b>></b> {{ post.data.summary }}</small>
	{% endif %}

	<div>
		<time datetime="{{ post.date | machineDate }}">
			<small> <i>published on {{ post.date | readableDate }};</i></small>
		</time>

	{% if post.data.tags %}
	<small>
		{
		{% for tag in post.data.tags %}
			{%- if tag != "post" -%}
				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
				<a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
			{%- endif -%}
		{% endfor %}
		}
	</small>
	{% endif %}
	</div>
{% endfor %}
