---
layout: base.njk
section: post
---

<h1>{{ title }}</h1>
🗓 posted <b>{{ page.date | readableDate }}</b> by <b>{{ metadata.author.name }}</b>
<br />
🔢 <b>{{ content | striptags | wordcount }}</b> words
{% if tags %}
<br />
🏷
{% for tag in tags %}
  {%- if tag != "post" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
    {%- endif -%}
  {% endfor %}
{% endif %}
<hr />

{% if location %}
    {% cartographer location %}
{% endif %}

{{ content | safe }}

<hr />
<script type="text/javascript" src="/scripts/footnotes.js"></script>
<a class="button" href="{{ '/notes/' | url }}"><< all notes.</a>
