{% for post in postslist | reverse %}
<p>
		<a class="post-title" href="{{ post.url | url }}">
		{% if post.data.title %}
			{{ post.data.title }}</a>
		{% else %}
			Untitled</a>
		{% endif %}

    <time datetime="{{ post.date | machineDate }}">
			posted on <strong>{{ post.date | readableDate }}</strong>
    </time>
    <br />
	{% if post.data.tags %}
	🏷
		{% for tag in post.data.tags %}
			{%- if tag != "post" -%}
				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
				<a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
			{%- endif -%}
		{% endfor %}
	{% endif %}
</p>
{% endfor %}
