{% for post in postslist | reverse %}
<p>
	<div>
		<a class="post-title" href="{{ post.url | url }}">
		{% if post.data.title %}
			<large>{{ post.data.title }}</large>
		{% else %}
			Untitled
		{% endif %}
		</a>
	</div>

	{% if post.data.summary %}
		↪ {{ post.data.summary }}
	{% endif %}

	{% if post.data.tags %}
	<div><small>
		{
		{% for tag in post.data.tags %}
			{%- if tag != "post" -%}
				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
				<a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
			{%- endif -%}
		{% endfor %}
		}
	</small>
	{% endif %}

		<time datetime="{{ post.date | machineDate }}">
			<small> <i>published on {{ post.date | readableDate }}</i></small>
		</time>
	</div>
</p>
{% endfor %}
