<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<generator uri="https://www.11ty.dev/" version="2.0.1">11ty</generator>
<link href="https://cyberb.space{{ page.url }}" rel="self" type="application/atom+xml"/>
<link href="{{ metadata.url }}" rel="alternate" type="text/html"/>
<updated>{{ page.date | feedDate }}</updated>
<id>https://cyberb.space{{ page.url }}</id>
<author>
  <name>{{ metadata.author.name }}</name>
  <uri>{{ metadata.url }}</uri>
</author>
  {{ content | safe }}
</feed>
