---
pagination:
  data: collections
  size: 1
  alias: tag
  title: {{ tag }}
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: base.njk
---

<h3>Posts tagged "#{{ tag }}"</h3>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}


<p>
  <nav>
    <a href="{{ '/words/' | url }}" class="button"><< words.</a>
  </nav>
</p>
