<head>
  <meta charset="utf-8"/>
  <title>{{ title or metadata.title }}</title>

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./css/skeleton.css">
  <!-- adding some personal customization here -->
  <link rel="stylesheet" type="text/css" href="./css/custom-stuff.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="./img/favicon.ico">
</head>
